.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 800px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: cornsilk;
}
.title {
  font-size: 25px;
  font-weight: 700;
  color: rgb(4, 4, 37);
  padding-top: 20px;
  margin: 0;
  width: 250px;
}
.children {
  flex-direction: column;
}
